@layer reset, base;
@import url("./css-normalize.css");

@layer base {
  :where([aria-hidden='false'][hidden]) {
    display: initial;
  }
  
  :is(
    [aria-hidden='false' i][hidden]:not(:focus):not(:active),
    .visually-hidden
  ) {
    all: initial;
    clip-path: path('');
    contain: content;
    height: 1px;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  body {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
  }  
}
